@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Satoshi";
  src: url("//cdn.fontshare.com/wf/NHPGVFYUXYXE33DZ75OIT4JFGHITX5PE/PSUTMASCDJTVPERDYJZPN23BVUFUCQIF/J64QX5IPOHK56I2KYUNBQ5M2XWZEYKYX.woff2")
      format("woff2"),
    url("//cdn.fontshare.com/wf/NHPGVFYUXYXE33DZ75OIT4JFGHITX5PE/PSUTMASCDJTVPERDYJZPN23BVUFUCQIF/J64QX5IPOHK56I2KYUNBQ5M2XWZEYKYX.woff")
      format("woff"),
    url("//cdn.fontshare.com/wf/NHPGVFYUXYXE33DZ75OIT4JFGHITX5PE/PSUTMASCDJTVPERDYJZPN23BVUFUCQIF/J64QX5IPOHK56I2KYUNBQ5M2XWZEYKYX.ttf")
      format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("//cdn.fontshare.com/wf/LAFFD4SDUCDVQEXFPDC7C53EQ4ZELWQI/PXCT3G6LO6ICM5I3NTYENYPWJAECAWDD/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2")
      format("woff2"),
    url("//cdn.fontshare.com/wf/LAFFD4SDUCDVQEXFPDC7C53EQ4ZELWQI/PXCT3G6LO6ICM5I3NTYENYPWJAECAWDD/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff")
      format("woff"),
    url("//cdn.fontshare.com/wf/LAFFD4SDUCDVQEXFPDC7C53EQ4ZELWQI/PXCT3G6LO6ICM5I3NTYENYPWJAECAWDD/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.ttf")
      format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
.mitr-extralight {
  font-family: "Mitr", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.mitr-light {
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mitr-regular {
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mitr-medium {
  font-family: "Mitr", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.mitr-semibold {
  font-family: "Mitr", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.mitr-bold {
  font-family: "Mitr", sans-serif;
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi";
}

html {
  width: 100vw;
  overflow-x: hidden;
}
.dashboardTableWrapper {
  width: 100%;
  overflow-x: auto !important;
}

/* table {
  padding: 3px;
}

table thead tr th {
  padding-top: 25px;
  padding-bottom: 12px;
} */

table tbody tr td {
  /* text-align: center; */
  /* padding: 5px; */
  color: rgba(26, 26, 26, 1);
  font-family: "Satoshi";
}
.errorMessage {
  width: inherit;
  text-align: left;
  color: red;
  font-size: 15px;
  margin-top: 1px;
}
.passwordIcon {
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.passwordIconCenter {
  top: 68%;
  right: 0px;
  transform: translateY(-50%);
}
/* th,
td {
  border-bottom: 1px solid rgba(189, 189, 189, 1);
} */
@media only screen and (max-width: 840px) {
  .size {
    width: 75vw;
  }
}
